<ul>
  {{#if currentUser}}
    <li><a href="/logout">Logout {{currentUser.local.email}}</a></li<a>
  {{else}}
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
  {{/if}}
</ul>
